$dark: black;
$light:white;
$dark-75:rgba(0, 0, 0, 0.750);
$dark-60:rgba(0, 0, 0, 0.60);
$dark-50:rgba(0, 0, 0, 0.500);
$dark-20:rgba(0, 0, 0, 0.20);
//palette
/* $first:#2274A5;
$old-second:#e7dfc6;
$second:#eaa08c;
$third:#e9f1f7;
$fourth:#131b23;
$fifth:#e6ae3e; */

//2 palette
/* $first:#2e83c9;
$second:#39c3db;
$third:#186bab;
$fourth:#222;
$fifth:#46acffb9; */

//3 palette
$first-8:#20709f;
$first-7:#20809f;
$first-6:#3080bf;
$first-5:#2080bf;
$first-4:#2070bf;
$first-3:#208fbf;
$first-2:#308fbf;
$first-1:#309fbf;
$second-10:#ef8f40;
$second-9:#ef9f40;
$second-8:#ff8f40;
$second-7:#ff9f40;
$second-6:#efaf40;
$second-5:#efbf40;
$second-4:#ffaf40;
$second-3:#ffbf40;
$second-2:#ffcf40;
$second-1:#efcf40;
$third:#50cfdf;
$fourth:#222;
$fifth:#ffcf40;
$grey-light: rgba(245, 245, 245, 0.6);
$grey: rgba(245, 245, 245, 0.85);
//$blue-logo: $first-1, $first-2, $first-3, $first-4, $first-5, $first-6, $first-7, $first-8; 
//$orange-logo: $second-1, $second-2, $second-3, $second-4, $second-5, $second-6, $second-7, $second-8, $second-9, $second-10; 