$dark: black;
$light:white;
$dark-75:rgba(0, 0, 0, 0.750);
$dark-20:rgba(0, 0, 0, 0.20);
//palette
/* $first:#2274A5;
$old-second:#e7dfc6;
$second:#eaa08c;
$third:#e9f1f7;
$fourth:#131b23;
$fifth:#e6ae3e; */

//2 palette
$first:#2e83c9;
$second:#39c3db;
$third:#186bab;
$fourth:#222;
$fifth:#46acffb9;
