@use './variables' as *;
// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans:wght@400;600;700;800&family=Outfit:wght@400;700&family=Roboto+Condensed:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Comforter', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background: $fourth; //#eeeeee
}


h1 {
    color: $first-3;

    span {
        color: $first-3;
        animation: change-color 5s ease 3s forwards;
    }

    @keyframes change-color {
        0% {
            color: $first-3;
        }

        50% {
            color: $first-3;
        }

        100% {
            color: $second-3;
        }
    }

}